body{
  background-image: url("/Users/abdulhameed/Desktop/CheckersReact/gradient-triangle-abstract-background-template-10032405-1710079376651-cover.webp") ;
}

body { font-family: sans-serif; }

#container { 
  display: flex; 
  justify-content: center; 
  margin-top: 90px; 
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 72px);
  grid-template-rows: repeat(8, 72px);
  border: 2px solid #333;
}

.square { width: 72px; height: 72px; }

.dark { 
  

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  background: rgba(255, 255, 255, 0.12);

   background: rgba(255, 255, 255, 0.12);
  border: 0px solid rgba(255, 255, 255, 0.25);

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}
.light { 
    backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  background: rgba(255, 255, 255, 0.12);

   background: rgba(255, 0, 0, 0.12);
  border: 0px solid rgba(255, 255, 255, 0.25);

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

.navbar { display: flex; justify-content: space-between; padding: 10px 50px; font-weight: bold; }











.navbar {
  position: fixed;
  top: 15px;               /* <-- gives space for rounded corners to show */
  left: 50%;
  transform: translateX(-50%);

   
  width: 92%;              /* a bit smaller than full width */
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 25px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);

  border-radius: 20px;      /* <-- fully rounded */
  z-index: 1000;

  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
}

.nav-center {
  flex: 1;
  text-align: center;
  letter-spacing: 1.5px;
}

.nav-left,
.nav-right {
  width: 120px;
  text-align: center;
}

.square { width: 72px; height: 72px; display: flex; justify-content: center; align-items: center; }
.dark { background-color: #000000; }
.light { background-color: #eeeed2; }

.piece {
  width: 70px; height: 70px; border-radius: 100%; border: 1px solid orange; cursor: pointer;
}
.playerOne { 
  background-image: url("/src/playerOne.png");
 background-position: 47% 39%;
    background-size: 120px 120px;

}
.playerTwo { 
  background-image: url("/src/playerTwo.png");
 background-position: 50% 42%;
    background-size: 120px 120px;
}


.selectedPiece {
  box-shadow: 0 0 0 4px limegreen inset;
  border-radius: 50%;
}
