body{
  background-image: url("https://asset.gecdesigns.com/img/background-templates/gradient-triangle-abstract-background-template-10032405-1710079376651-cover.webp") ;
}

.nopiece{
    padding: 30px;
    width: 1%;
    min-width: 1%;
    margin: 1px;
    display: inline-block;
    background-image: linear-gradient(to right, rgb(4, 0, 125) , rgb(72, 10, 53));
    box-shadow: 1px 1px 1px #242323;
    background-size: cover;
    border: 1px solid rgb(0, 0, 0);
    /* border-radius: 4px; */
    float: left;
    /* background-image: url("qmark.png"); */
     background: rgba(30, 0, 255, 0.15);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 0, 0, 0.2);
}


/* spots on board where pieces move */
.valid{ 
    padding: 30px;
    width: 1%;
    min-width: 1%;
    margin: 1px;
    display: inline-block;
    box-shadow: 1px 1px 1px #242323;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(85, 0, 255);
    /* border-radius: 4px; */
    float: left;
   cursor: pointer;

     background: rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 0, 0, 0.2);
}

.board{
   margin-top: 10px;
    max-width: 44%;
    max-height: 100px;
    margin-left: 25%;
    margin-right: 15%;
    min-width: 550px;
    
}

#container{
    
   
     margin-top: 8%;
    
    
   
 }


.playerOne {
    padding: 30px;
    width: 0%;
    margin: 1px;
    /* background-image: url('playerOne.png'); */
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 47% 39%;
    position: relative;
    background-color: rgb(255, 51, 0);
    border: 1px solid rgb(109, 84, 62);
    border-radius: 40px;
    float: left;
   cursor: pointer;
}

.playerTwo {
    padding: 30px;
    width: 0%;
    margin: 1px;
    /* background-image: url('playerOne.png'); */
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 47% 39%;
    position: relative;
    background-color: rgb(0, 34, 255);
    border: 1px solid rgb(109, 84, 62);
    border-radius: 40px;
    float: left;
   cursor: pointer;
}


.navbar {
  position: fixed;
  top: 15px;               /* <-- gives space for rounded corners to show */
  left: 50%;
  transform: translateX(-50%);

   
  width: 92%;              /* a bit smaller than full width */
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 25px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);

  border-radius: 20px;      /* <-- fully rounded */
  z-index: 1000;

  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
}

.nav-center {
  flex: 1;
  text-align: center;
  letter-spacing: 1.5px;
}

.nav-left,
.nav-right {
  width: 120px;
  text-align: center;
}
